APP_NAME=CloudVault

DATABASE_URL=postgresql+psycopg://postgres:YOUR_POSTGRES_PASSWORD@localhost:5432/cloudvault

JWT_SECRET=YOUR_JWT_SECRET
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

STORAGE_MODE=s3
LOCAL_STORAGE_PATH=./storage

AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_KEY
AWS_S3_BUCKET=YOUR_S3_BUCKET

CORS_ORIGINS=["http://localhost:5173"]